.myInput{
  border:1px solid red;
  color: gold;
}

form{
background-image: url('./../../../../../assets/fox-6158745.svg');
background-repeat: no-repeat;
background-size: 100% 100%;
transition: all ease-in 1s;
}

.hidden{
  visibility: hidden;
}
